@charset "UTF-8";

.header {
    background: #161B22;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 1.5rem;

    .logo {
        a {
            color: #fff;
            font-size: 1.1rem;
            user-select: none;
            text-decoration: none;
            font-family: "JetBrains Mono", monospace;
        }
    }
}